:root {
  --softBlue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --bgDarkBlue: hsl(217, 54%, 11%);
  --cardDarkBlue: hsl(216, 50%, 16%);
  --white: hsl(0, 0%, 100%);
  --lineDarkBlue: hsl(215, 32%, 27%);
}

html {
  color: var(--white);
}

body {
  font-family: 'Bai Jamjuree',
    sans-serif;
  font-family: 'Comfortaa',
    cursive;
  font-family: 'Kumbh Sans',
    sans-serif;
  font-family: 'Roboto',
    sans-serif;
  background-color: var(--bgDarkBlue);
}

h3 {
  color: var(--white);
  font-weight: 700;
}

p {
  font-size: 18px;
  color: var(--softBlue);
  font-weight: 300;
}

.card {
  background-color: var(--cardDarkBlue);
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr {
  color: var(--lineDarkBlue);
}